<div class="page-header">
	<h4>投票信息</h4>
</div>
<div class="well well-lg">
	<p><strong>问题</strong></p>
	<p>{{poll.question}}</p>
</div>
<div ng-hide="poll.userVoted">
	<p>请选择一个选项。</p>
	<form role="form">
		<div ng-repeat="choice in poll.choices" class="radio">
			<label>
				<input type="radio" name="choice" ng-model="poll.userVote" value="{{choice._id}}">
				{{choice.text}}
			</label>
		</div>
		<p><hr></p>
		<div class="col-xs-6">
			<a href="#/polls" class="btn btn-default" role="button">
				<span class="glyphicon glyphicon-arrow-left"></span>
				返回投票首页
			</a>
		</div>
		<div class="col-xs-6">
			<button class="btn btn-primary pull-right" ng-click="vote()">投票 &raquo;</button>
		</div>
	</form>
</div>
<div ng-show="poll.userVoted">
	<table class="result-table">
		<tbody>
			<tr ng-repeat="choice in poll.choices">
				<td>{{choice.text}}</td>
				<td>
					<table style="width:{{choice.votes.length/poll.totalVotes * 100}}%; text-align: right; background-color: lightblue; ">
						<tr><td>{{choice.votes.length}}</td></tr>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<p>
		一共有 {{poll.totalVotes}} 人投票。
		<span ng-show="poll.userChoice">
			你的投票是 <strong>{{poll.userChoice.text}}</strong>
		</span>
	</p>
	<p><hr></p>
	<div class="col-xs-12">
		<a href="#/polls" class="btn btn-default">
			<span class="glyphicon glyphicon-arrow-left"></span>
			返回投票首页
		</a>
	</div>
</div>